<h1><%= @trip.location.name%></h1>
<h3><%= @trip.date %></h3>

<h3>Organizer: <%= @trip.organizer_full_name %></h3>
<br />

<h3>Trip Description:</h3>
<p><%= @trip.description %></p>
<br/>

<h3>Drivers:</h3>
<ul> <% @trip.drivers.each do |driver| %>
    <li><%=driver.full_name%></li>
<% end %> 
</ul> <%# working on excluding organizer in Driver %>
<br />

<%= render 'dbuttons'%>

<h3>Passengers:</h3>
<ul> <% @trip.passengers.each do |passenger| %>
    <li><%=passenger.full_name%></li>
<% end %>
</ul>

<%= render 'pbuttons'%>

<% form_with url: '/add_driver', method: "post" do |f| %>
    <%= f.submit "Cancel Trip"%>
<% end %>

<h3>Available Seats: <%= @trip.available_seats %></h3>


<% if @current_user.is_organizer?(@trip) %>
    <%= render 'obuttons'%>
<% end %>