<h1><%= @trip.location.name%></h1>
<h5><%= @trip.date_display %></h5>

<% if @current_user.is_organizer?(@trip) %>
    <%= render 'obuttons'%>
<% end %>
<br />
<br />
<label>Departure Time:</label>
<%= @trip.d_time %>
<br />
<label>Return Time:</label>
<%= @trip.r_time %>
<br /><br />

<p>Available Seats: <%= @trip.available_seats %></p>

<h4>Organizer: <%= @trip.organizer_full_name %></h4>
<br />

<h4>Trip Description:</h4>
<p><%= @trip.description %></p>
<br/>

<h4>Drivers:</h4>
<ul> <% @trip.drivers.each do |driver| %>
    <li><%=driver.full_name%></li>
<% end %> 
</ul> <%# working on excluding organizer in Driver %>
<br />

<%= render 'dbuttons'%>
<br />

<h4>Passengers:</h4>
<ul> <% @trip.passengers.each do |passenger| %>
    <li><%=passenger.full_name%></li>
<% end %>
</ul>

<%= render 'pbuttons'%>

