<h1>Log In</h1>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with url: '/login' do |f| %>
    
   <p>
   <%= f.label :email%><br /> 
   <%= f.text_field :email, placeholder: "Email", required: true %>
   </p>

   <p>
   <%= f.label :password %><br />
   <%= f.password_field :password, placeholder: "Password", required: true %>
   </p>

   <%= f.submit "Login"%>
<%end%>
  
