<h1>Log In</h1>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with url: '/login' do |f| %>
   <%= f.label :email%><br /> 
   <%= f.text_field :email, placeholder: "Email" %><br/><br />

   <%= f.label :password %><br />
   <%= f.password_field :password, placeholder: "Password" %><br /><br />

   <%= f.submit "Login"%>
<%end%>
  
