<div class="jumbotron">
  <h1 class="display-4">Welcome, <%= @user.full_name %>!</h1>
  <p class="lead">This is your personal user page. Here, you can view your profile, view previous or add a new trip.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/trips/new" role="button">Take a Trip!</a>
</div>

<h3>Your Trips:</h3>
    <div class="list-group">
    <% @user.all_trips.each do |trip| %>
        <a href="#" class="list-group-item list-group-item-action active">
            <%= link_to trip.display, trip_path(trip) %>
            <% end %>
        </a>
    </div>


<h3>Explore:</h3>
    <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Cras justo odio
  </a>


<ul>
    <li><%= link_to "View your Profile", user_path(@user)%> |</li>
    <li><%= link_to "Plan a new Trip", new_trip_path %> |</li>
    <li><%= link_to "View All Trips", trips_path %> |</li>
    <li><%= link_to "View All Locations", locations_path %> |</li>
    <li><%= link_to "Add a Car", new_car_path %> </li>
</ul>

<%= form_with url: logout_path, method: 'delete' do |f| %>
    <%= f.submit "logout" %>
<% end %>