<h1>Welcome <%= @user.full_name %>!</h1>

<%= link_to "View your Profile", user_path(@user)%> |
<%= link_to "Plan a new Trip", new_trip_path %> |
<%= link_to "View All Trips", trips_path %> |
<%= link_to "View All Locations", locations_path %> |
<%= link_to "Add a Car", new_car_path %> 




<h3>Your Trips:</h3>

<ul>
<% @user.all_trips.each do |trip| %>
    <li><%= link_to trip.display, trip_path(trip) %></li>
<% end %>
</ul>

<%= form_with url: logout_path, method: 'delete' do |f| %>
    <%= f.submit "logout" %>
<% end %>