<%= form_with model: @car do |f| %>
       
    <% if @car.errors.any? %>
        <div id="error_explanation">
         <h2>
            <%= pluralize(@car.errors.count, "error") %> prohibited
            you from adding this car:
         </h2>
         <ul>
          <% @car.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
         </ul>
        </div>
    <% end %>

    <p>
    <%= f.label :make %><br />
    <%= f.text_field :make, placeholder: "Make" %>
    </p>

    <p>
    <%= f.label :model %><br />
    <%= f.text_field :model, placeholder: "Model" %>
    </p>

    <p>
    <%= f.label :year %><br />
    <%= f.text_field :year, placeholder: "Year" %>
    </p>

    <p>
    <label>Number of Seats</label><br />
    <%= f.number_field :num_of_seats, min: 0, max: 8, placeholder: "#", required: true %>
    </p>

    <p>
    <%= f.label :color %><br />
    <%= f.text_field :color, placeholder: "Color" %>
    </p>

    <p>
    <label>License Plate</label><br />
    <%= f.text_field :license, placeholder: "Plate Number", required: true %>
    </p> <%# max 7 length%>

    <%= f.submit %>
<% end %>